
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient-signup {
  background-image: linear-gradient(180deg, black 50%, white 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 10px;
}
