.grid-container::-webkit-scrollbar {
  width: 10px;
}

.grid-container::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.grid-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #4a3aff;
}
