body {
  background-image: url("./Curve\ Line.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.grid-container::-webkit-scrollbar {
  width: 10px;
}

.grid-container::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.grid-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #4a3aff;
}

.users {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.table {
  text-align: left;
  table-layout: auto;
  width: 100%;
}

td:nth-child(1) {
  width: 2px;
}

td:nth-child(2) {
  width: 20%;
}
td:nth-child(3) {
  width: 70%;
}

td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}

td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}

tr {
  border-bottom: 2px solid #cfd2cd;
}

.users .header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.users .content {
  flex-grow: 1;
  overflow-y: auto;
}

.table th,
.table td {
  text-align: left;
}

.table th {
  background-color: #f8f8f8;
  position: sticky;
  top: 0;
  z-index: 1;
  border-radius: 0%;
  border-bottom: 2px #cacaca;
}
